<!DOCTYPE html>
<html>
<head>
	<title>Add Friend</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Add Friend</h1>
		<form class='addForm' action='/gogaga/add' method="POST">
			<input id='frndName' type="text" name="frndName" placeholder='Friend Name'>
			<button type="submit" onclick='return(validate());'>Add</button>
		</form>
		<a href="/">See Friends</a>
	</div>
</body>
<script type="text/javascript" src='/js/script.js'></script>
</html>